/* paytone-one-regular - latin */
@font-face {
  font-family: 'Paytone One';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/paytone-one-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/paytone-one-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'SegoeUI';
  src:
      local("Segoe UI"),
      url(../fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
      url(../fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
      url(../fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'SegoeUI';
  src:
      local("Segoe UI Bold"),
      url(../fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"),
      url(../fonts/segoe-ui/west-european/bold/latest.woff) format("woff"),
      url(../fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: 'SegoeUI';
  src:
      local("Segoe UI Semibold"),
      url(../fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"),
      url(../fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"),
      url(../fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
  font-weight: 700;
}
body{
  font-family: "SegoeUI";
}