.footer {
  padding: 60px 59px 111px 59px;
  background-image: url(../img/footerbgi.jpg);
  background-repeat: no-repeat;
}
.footer__logo{
  margin-right: 84px;
}
.redball{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: -150px;
  width: 172px;
  height: 172px;
  background-image: url(../img/footerbgi.jpg);
  background-repeat: no-repeat;
  background-position: -326px -213px;
  border-radius: 50%;
}
.footer__inner {
  display: flex;
  ul~ul{
    margin-left: 84px;
  }
}
.footer__social {
  margin-left: 120px;
  text-align: end;
}
.socia-media {
  display: flex;
  
}
.social-media_item ~ .social-media_item{
    margin-left: 31px;
}
.explore{
  font-weight: 700;
  font-size: 18px;
  line-height: 149.8%;
  color: #FFFFFF;
}
.cost{
  font-size: 18px;
  line-height: 149.8%;
  color: #FFFFFF;
}
.thanks{
  margin-top: 108px;
  text-align: center;
}
